In [24]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [25]:
import numpy as np
import pandas as pd
import datetime as dt

In [26]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [27]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [28]:
# reflect an existing database into a new model

# reflect the tables
Base = automap_base()
Base.prepare(engine, reflect=True)

In [29]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [30]:
# Save references to each table
Station = Base.classes.station
Measurment = Base.classes.station

In [31]:
session = Session(engine)

In [32]:
inspector = inspect(engine)

In [33]:
measurements = engine.execute('SELECT * FROM Measurement')

In [34]:
print(measurements.keys())

RMKeyView(['id', 'station', 'date', 'prcp', 'tobs'])

In [35]:
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [36]:
engine.execute('SELECT * FROM Measurement LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [43]:
Measurement = Base.classes.measurement

latest_date=(session.query(Measurement.date)
                    .order_by(Measurement.date.desc())
                    .first())
latest_date

('2017-08-23',)

In [44]:
year_ago_date=dt.date(2017, 8, 23) - dt.timedelta(days=366)
print('Query Date:', year_ago_date)

Query Date: 2016-08-22

In [46]:
year_prcp=(session.query(Measurement.date,func.max(Measurement.prcp))
                  .filter(func.strftime('%Y-%m-%d',Measurement.date) > year_ago_date)
                  .group_by(Measurement.date)
                  .all())
year_prcp

[('2016-08-23', 1.79),
 ('2016-08-24', 2.28),
 ('2016-08-25', 0.21),
 ('2016-08-26', 0.04),
 ('2016-08-27', 0.18),
 ('2016-08-28', 2.07),
 ('2016-08-29', 0.9),
 ('2016-08-30', 0.05),
 ('2016-08-31', 2.46),
 ('2016-09-01', 0.02),
 ('2016-09-02', 0.19),
 ('2016-09-03', 1.0),
 ('2016-09-04', 0.74),
 ('2016-09-05', 0.18),
 ('2016-09-06', 1.0),
 ('2016-09-07', 1.35),
 ('2016-09-08', 0.22),
 ('2016-09-09', 0.35),
 ('2016-09-10', 1.16),
 ('2016-09-11', 0.6),
 ('2016-09-12', 1.04),
 ('2016-09-13', 1.2),
 ('2016-09-14', 6.7),
 ('2016-09-15', 3.35),
 ('2016-09-16', 0.61),
 ('2016-09-17', 0.36),
 ('2016-09-18', 0.42),
 ('2016-09-19', 0.25),
 ('2016-09-20', 0.43),
 ('2016-09-21', 1.02),
 ('2016-09-22', 0.75),
 ('2016-09-23', 0.94),
 ('2016-09-24', 0.27),
 ('2016-09-25', 0.04),
 ('2016-09-26', 1.02),
 ('2016-09-27', 1.0),
 ('2016-09-28', 0.08),
 ('2016-09-29', 1.49),
 ('2016-09-30', 0.38),
 ('2016-10-01', 1.02),
 ('2016-10-02', 0.61),
 ('2016-10-03', 0.46),
 ('2016-10-04', 3.46),
 ('2016-10-05', 0.81),
 ('2016-10-06', 0.07),
 ('2016-10-07', 0.01),
 ('2016-10-08', 0.04),
 ('2016-10-09', 0.0),
 ('2016-10-10', 0.0),
 ('2016-10-11', 0.35),
 ('2016-10-12', 0.03),
 ('2016-10-13', 0.06),
 ('2016-10-14', 0.0),
 ('2016-10-15', 0.33),
 ('2016-10-16', 0.0),
 ('2016-10-17', 0.38),
 ('2016-10-18', 0.48),
 ('2016-10-19', 0.11),
 ('2016-10-20', 1.0),
 ('2016-10-21', 0.15),
 ('2016-10-22', 1.37),
 ('2016-10-23', 0.24),
 ('2016-10-24', 0.7),
 ('2016-10-25', 0.4),
 ('2016-10-26', 0.2),
 ('2016-10-27', 1.25),
 ('2016-10-28', 0.37),
 ('2016-10-29', 0.26),
 ('2016-10-30', 0.95),
 ('2016-10-31', 1.35),
 ('2016-11-01', 0.1),
 ('2016-11-02', 0.04),
 ('2016-11-03', 0.02),
 ('2016-11-04', 0.06),
 ('2016-11-05', 0.38),
 ('2016-11-06', 0.05),
 ('2016-11-07', 0.13),
 ('2016-11-08', 0.53),
 ('2016-11-09', 0.17),
 ('2016-11-10', 0.01),
 ('2016-11-11', 0.0),
 ('2016-11-12', 0.0),
 ('2016-11-13', 0.0),
 ('2016-11-14', 0.06),
 ('2016-11-15', 0.05),
 ('2016-11-16', 0.91),
 ('2016-11-17', 0.03),
 ('2016-11-18', 0.02),
 ('2016-11-19', 0.13),
 ('2016-11-20', 0.4),
 ('2016-11-21', 2.87),
 ('2016-11-22', 2.11),
 ('2016-11-23', 0.25),
 ('2016-11-24', 0.72),
 ('2016-11-25', 1.03),
 ('2016-11-26', 0.3),
 ('2016-11-27', 0.29),
 ('2016-11-28', 0.69),
 ('2016-11-29', 0.2),
 ('2016-11-30', 0.79),
 ('2016-12-01', 0.72),
 ('2016-12-02', 1.27),
 ('2016-12-03', 1.62),
 ('2016-12-04', 0.32),
 ('2016-12-05', 1.6),
 ('2016-12-06', 0.02),
 ('2016-12-07', 0.17),
 ('2016-12-08', 0.27),
 ('2016-12-09', 0.52),
 ('2016-12-10', 0.05),
 ('2016-12-11', 0.13),
 ('2016-12-12', 0.02),
 ('2016-12-13', 0.34),
 ('2016-12-14', 0.92),
 ('2016-12-15', 0.14),
 ('2016-12-16', 0.03),
 ('2016-12-17', 0.16),
 ('2016-12-18', 0.29),
 ('2016-12-19', 0.21),
 ('2016-12-20', 0.02),
 ('2016-12-21', 0.55),
 ('2016-12-22', 1.24),
 ('2016-12-23', 0.83),
 ('2016-12-24', 1.08),
 ('2016-12-25', 0.38),
 ('2016-12-26', 1.48),
 ('2016-12-27', 0.14),
 ('2016-12-28', 0.14),
 ('2016-12-29', 1.03),
 ('2016-12-30', 2.37),
 ('2016-12-31', 0.9),
 ('2017-01-01', 0.29),
 ('2017-01-02', 0.01),
 ('2017-01-03', 0.0),
 ('2017-01-04', 0.18),
 ('2017-01-05', 0.47),
 ('2017-01-06', 0.59),
 ('2017-01-07', 0.06),
 ('2017-01-08', 0.03),
 ('2017-01-09', 0.0),
 ('2017-01-10', 0.0),
 ('2017-01-11', 0.0),
 ('2017-01-12', 0.0),
 ('2017-01-13', 0.0),
 ('2017-01-14', 0.01),
 ('2017-01-15', 0.01),
 ('2017-01-16', 0.0),
 ('2017-01-17', 0.0),
 ('2017-01-18', 0.07),
 ('2017-01-19', 0.02),
 ('2017-01-20', 0.0),
 ('2017-01-21', 0.11),
 ('2017-01-22', 0.72),
 ('2017-01-23', 0.85),
 ('2017-01-24', 1.85),
 ('2017-01-25', 2.64),
 ('2017-01-26', 0.1),
 ('2017-01-27', 0.03),
 ('2017-01-28', 0.14),
 ('2017-01-29', 0.55),
 ('2017-01-30', 0.05),
 ('2017-01-31', 0.0),
 ('2017-02-01', 0.0),
 ('2017-02-02', 0.0),
 ('2017-02-03', 0.0),
 ('2017-02-04', 0.0),
 ('2017-02-05', 0.0),
 ('2017-02-06', 0.18),
 ('2017-02-07', 1.8),
 ('2017-02-08', 1.08),
 ('2017-02-09', 0.02),
 ('2017-02-10', 0.0),
 ('2017-02-11', 5.04),
 ('2017-02-12', 2.98),
 ('2017-02-13', 2.9),
 ('2017-02-14', 0.01),
 ('2017-02-15', 0.07),
 ('2017-02-16', 0.73),
 ('2017-02-17', 0.8),
 ('2017-02-18', 0.01),
 ('2017-02-19', 0.1),
 ('2017-02-20', 0.0),
 ('2017-02-21', 0.07),
 ('2017-02-22', 0.32),
 ('2017-02-23', 0.01),
 ('2017-02-24', 0.0),
 ('2017-02-25', 0.12),
 ('2017-02-26', 0.0),
 ('2017-02-27', 0.0),
 ('2017-02-28', 0.58),
 ('2017-03-01', 2.4),
 ('2017-03-02', 1.88),
 ('2017-03-03', 0.56),
 ('2017-03-04', 0.0),
 ('2017-03-05', 0.41),
 ('2017-03-06', 0.51),
 ('2017-03-07', 0.0),
 ('2017-03-08', 0.0),
 ('2017-03-09', 0.8),
 ('2017-03-10', 0.13),
 ('2017-03-11', 0.03),
 ('2017-03-12', 0.0),
 ('2017-03-13', 0.0),
 ('2017-03-14', 0.06),
 ('2017-03-15', 0.06),
 ('2017-03-16', 0.0),
 ('2017-03-17', 0.35),
 ('2017-03-18', 0.0),
 ('2017-03-19', 0.0),
 ('2017-03-20', 0.02),
 ('2017-03-21', 0.09),
 ('2017-03-22', 0.0),
 ('2017-03-23', 0.03),
 ('2017-03-24', 0.6),
 ('2017-03-25', 0.93),
 ('2017-03-26', 0.0),
 ('2017-03-27', 0.01),
 ('2017-03-28', 0.68),
 ('2017-03-29', 0.08),
 ('2017-03-30', 0.08),
 ('2017-03-31', 0.01),
 ('2017-04-01', 0.21),
 ('2017-04-02', 0.0),
 ('2017-04-03', 0.26),
 ('2017-04-04', 0.09),
 ('2017-04-05', 0.45),
 ('2017-04-06', 0.06),
 ('2017-04-07', 0.0),
 ('2017-04-08', 0.0),
 ('2017-04-09', 0.0),
 ('2017-04-10', 0.01),
 ('2017-04-11', 0.25),
 ('2017-04-12', 0.65),
 ('2017-04-13', 0.59),
 ('2017-04-14', 2.82),
 ('2017-04-15', 0.9),
 ('2017-04-16', 0.49),
 ('2017-04-17', 1.3),
 ('2017-04-18', 2.03),
 ('2017-04-19', 0.14),
 ('2017-04-20', 0.35),
 ('2017-04-21', 2.36),
 ('2017-04-22', 1.58),
 ('2017-04-23', 0.35),
 ('2017-04-24', 0.05),
 ('2017-04-25', 0.0),
 ('2017-04-26', 0.22),
 ('2017-04-27', 0.19),
 ('2017-04-28', 2.6),
 ('2017-04-29', 6.25),
 ('2017-04-30', 1.31),
 ('2017-05-01', 0.26),
 ('2017-05-02', 0.03),
 ('2017-05-03', 0.01),
 ('2017-05-04', 0.08),
 ('2017-05-05', 0.28),
 ('2017-05-06', 0.06),
 ('2017-05-07', 0.07),
 ('2017-05-08', 1.11),
 ('2017-05-09', 1.62),
 ('2017-05-10', 0.55),
 ('2017-05-11', 0.44),
 ('2017-05-12', 0.1),
 ('2017-05-13', 0.12),
 ('2017-05-14', 1.0),
 ('2017-05-15', 0.6),
 ('2017-05-16', 0.3),
 ('2017-05-17', 0.07),
 ('2017-05-18', 0.46),
 ('2017-05-19', 0.02),
 ('2017-05-20', 0.02),
 ('2017-05-21', 0.01),
 ('2017-05-22', 0.3),
 ('2017-05-23', 0.44),
 ('2017-05-24', 2.17),
 ('2017-05-25', 0.88),
 ('2017-05-26', 0.02),
 ('2017-05-27', 0.5),
 ('2017-05-28', 0.29),
 ('2017-05-29', 0.4),
 ('2017-05-30', 1.12),
 ('2017-05-31', 0.25),
 ('2017-06-01', 0.03),
 ('2017-06-02', 0.15),
 ('2017-06-03', 0.2),
 ('2017-06-04', 0.82),
 ('2017-06-05', 0.05),
 ('2017-06-06', 0.0),
 ('2017-06-07', 0.01),
 ('2017-06-08', 0.02),
 ('2017-06-09', 0.02),
 ('2017-06-10', 0.62),
 ('2017-06-11', 0.74),
 ('2017-06-12', 0.81),
 ('2017-06-13', 0.65),
 ('2017-06-14', 0.81),
 ('2017-06-15', 1.69),
 ('2017-06-16', 0.1),
 ('2017-06-17', 0.35),
 ('2017-06-18', 0.7),
 ('2017-06-19', 0.4),
 ('2017-06-20', 0.31),
 ('2017-06-21', 0.3),
 ('2017-06-22', 0.28),
 ('2017-06-23', 0.5),
 ('2017-06-24', 0.36),
 ('2017-06-25', 0.5),
 ('2017-06-26', 0.06),
 ('2017-06-27', 0.1),
 ('2017-06-28', 0.02),
 ('2017-06-29', 0.04),
 ('2017-06-30', 0.2),
 ('2017-07-01', 0.1),
 ('2017-07-02', 0.5),
 ('2017-07-03', 0.4),
 ('2017-07-04', 0.08),
 ('2017-07-05', 0.0),
 ('2017-07-06', 0.02),
 ('2017-07-07', 0.3),
 ('2017-07-08', 0.06),
 ('2017-07-09', 0.11),
 ('2017-07-10', 0.02),
 ('2017-07-11', 0.02),
 ('2017-07-12', 0.28),
 ('2017-07-13', 0.68),
 ('2017-07-14', 0.68),
 ('2017-07-15', 0.1),
 ('2017-07-16', 0.5),
 ('2017-07-17', 0.39),
 ('2017-07-18', 2.4),
 ('2017-07-19', 0.27),
 ('2017-07-20', 0.7),
 ('2017-07-21', 0.1),
 ('2017-07-22', 4.0),
 ('2017-07-23', 0.8),
 ('2017-07-24', 1.19),
 ('2017-07-25', 0.3),
 ('2017-07-26', 0.3),
 ('2017-07-27', 0.01),
 ('2017-07-28', 0.4),
 ('2017-07-29', 0.3),
 ('2017-07-30', 0.3),
 ('2017-07-31', 0.0),
 ('2017-08-01', 0.12),
 ('2017-08-02', 0.25),
 ('2017-08-03', 0.06),
 ('2017-08-04', 0.04),
 ('2017-08-05', 0.06),
 ('2017-08-06', 0.0),
 ('2017-08-07', 0.05),
 ('2017-08-08', 0.34),
 ('2017-08-09', 0.15),
 ('2017-08-10', 0.07),
 ('2017-08-11', 0.0),
 ('2017-08-12', 0.14),
 ('2017-08-13', 0.0),
 ('2017-08-14', 0.22),
 ('2017-08-15', 0.42),
 ('2017-08-16', 0.42),
 ('2017-08-17', 0.13),
 ('2017-08-18', 0.06),
 ('2017-08-19', 0.09),
 ('2017-08-20', 0.01),
 ('2017-08-21', 0.56),
 ('2017-08-22', 0.5),
 ('2017-08-23', 0.45)]

In [47]:
prcp_df=pd.DataFrame(year_prcp, columns=['date', 'prcp'])
prcp_df.set_index('date',inplace=True)
prcp_df.head(10)

            prcp
date
2016-08-23  1.79
2016-08-24  2.28
2016-08-25  0.21
2016-08-26  0.04
2016-08-27  0.18
2016-08-28  2.07
2016-08-29  0.90
2016-08-30  0.05
2016-08-31  2.46
2016-09-01  0.02

In [48]:
prcp_df.sort_values('date')

            prcp
date
2016-08-23  1.79
2016-08-24  2.28
2016-08-25  0.21
2016-08-26  0.04
2016-08-27  0.18
...          ...
2017-08-19  0.09
2017-08-20  0.01
2017-08-21  0.56
2017-08-22  0.50
2017-08-23  0.45

[366 rows x 1 columns]